.Header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3vh;
  background-color: #121212;
}

.Title {
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 10px;
  color: #e0e0e0;
}

.User {
  font-size: 20px;
  margin-left: auto;
}

@media (max-width: 500px) {
  .Header {
    flex-direction: column;
    align-items: center;
  }

  .Title {
    font-size: 30px;
    padding-top: 85px;
  }

  .User {
    font-size: 18px;
    margin-left: 0;
  }
}
