.Login {
  color: #e0e0e0;
}

input {
  color: #e0e0e0;
  background-color: #121212;
  border: 1px solid #292929;
}

button {
  color: #e0e0e0;
  background-color: #1f1f1f;
  border: 1px solid #292929;
}

button {
  color: #e0e0e0;
  background-color: #1f1f1f;
  border: 1px solid #292929;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #333333;
  border-color: #bb86fc;
}

button:active {
  background-color: #bb86fc;
  border-color: #bb86fc;
  color: #121212;
}
