.Menu {
	display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}

.Menu .active {
    color: black;
    font-weight: bold;
    font-family: Arial;
}

.Menu a {
    text-decoration: none;
    color: black;
}