.Menu {
}

.active {
  color: #ffffff; /* Accent color for active link */
  border-color: #292929; /* Border color for active link */
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #ffffff;
}
