.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr 7.5fr 0.5fr;
    grid-template-columns: 100%;
}

.Header {
    grid-row: 1;
}

.Aside {
    grid-row: 2;
}

.Main {
    grid-row: 3;
    overflow: auto;
}

.Footer {
    grid-row: 4;
}

.Layout, .Layout > * {
    border: 1px solid;
}
